.collection-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
    width: 500px;
    text-align: center;
    background-color: bisque;
    
}

.collection-card-container img{
    width: 100%;
}

.collection-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 

}


@media only screen and (max-width: 1024px) {
    .collection-container {
      grid-template-columns: repeat(3, 1fr); 
      
    }
  }
  
  @media only screen and (max-width: 768px) {
    .collection-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .collection-container {
      max-width: 100%; 
    }
  }
  
  @media only screen and (max-width: 500px) {
    .collection-container {
      grid-template-columns: 1fr; 
    }
  }
  

