.collection-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: black;
    width: 80%;
    text-align: center;
}

.collection-card-container img{
    width: 100%;
}