.nav-bar-container{
    background-color: rgb(157, 190, 185);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    margin: 5px;
    padding: 10px;
}


.buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0;
    margin: 0;
    width: 100%; 
  }

  
  button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px; 
    font-family: "Cedarville Cursive";
    font-weight: 900;
    font-size: 1.5em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    flex: 1 1 200px; 
    background-color: #f0f0f0; 

  }

  button:hover{
    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
  }
  

  @media (max-width: 768px) {
    button {
      padding: 8px 15px; 
      font-size: 1.2em; 
      flex-basis: 150px; 
    }
  }
  
  @media (max-width: 480px) {
    button {
      padding: 6px 10px; 
      font-size: 1em; 
      flex-basis: 120px; 
    }
  }