.collection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 20px;
  background-color: rgb(31, 63, 34);
  
}

.collection-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 300px; 
  max-width: 400px;  
  min-width: 180px; 
  color: black;
  text-align: center;
  background-color: rgb(217, 229, 218);
  text-decoration: none;

}


.collection-card-container img {
  width: 300px;
  height: auto;
  max-width: 60%;
}

@media (max-width: 1024px) {
  .collection-container {
      justify-content: space-evenly; 
  }
  
  .collection-card-container {
      flex: 1 1 30%; 
  }
}

@media (max-width: 768px) {
  .collection-card-container {
      flex: 1 1 45%; 
  }
}

@media (max-width: 500px) {
  .collection-card-container {
      flex: 1 1 100%; 
  }
}

.collection-card-container img:hover{
  transform: translateY(-5px); 
  box-shadow: 0 20px 20px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(109, 99, 99, 0.368) ; 
  transition: all 0.3s ease; 
}

.collection-card-container a{
  text-decoration: none;
  color: inherit;
}

.collection-card-container h2{
  font-size: 20px;
  width: 100%;
}

.collection-card-container p{
  color: rgb(54, 52, 52);
  font-weight: bold;
}

.search-and-pagination-container{
  display: flex;
  background-color: rgb(8, 143, 123);
  justify-content: space-around;
  align-items: center;
}

.in-collection-badge{
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#location{
  font-size: 12px;
}


  
 
 
