@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');


.dashboard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 


}

.search-bar{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(31, 63, 34);
    width: 100%;
}

@media (max-width: 600px) {
    .search-bar{
        align-items: flex-start;
    }

    .search-bar h1 {
        font-size: 140%;
    }
}



.header-section{
    background-color: rgb(31, 63, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    width: 100%;
    flex: 1 1 300px; 

}

.header-section h1{
    flex: 1 1 auto; 
    text-align: center;
    margin: 0; 
}

@media (max-width: 600px) {
    .header-section {
        align-items: flex-start;
    }

    .header-section h1 {
        font-size: 140%;
    }
}

.header-section img{
    justify-content: flex-start;
}

.lower-content{
   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 20px;
  background-color: rgb(31, 63, 34);
  width: 100%;
   
}

.feature1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.feature1 img{
    width: 300px;
    height: auto;
  
}

.feature1 p{
    width: 300px;
    font-size: 30px;
    font-weight: bold;
}


.feature2{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

.feature2 img{
    width: 300px;
    height: auto;
    max-width: 100%;
}

.feature2 p{
    width: 300px;
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
}

.feature3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

.feature3 img{
    width: 300px;
    height: auto;
    max-width: 100%;
}


.feature3 p{
    width: 300px;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 575px) {
    .lower-content {
        align-items: flex-start;
    }

    .feature1 p {
        font-size: 120%;
        width: 100%;
    }

    .feature2 p{
        font-size: 120%;
        width: 100%;

    }

    .feature3 p{
        font-size: 120%;
        width: 100%;

    }

}

p{
    font-family: 'Roboto';
}