@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.filter-container{
  display: flex;
  align-items: center;
  background-color: rgb(55, 197, 197);
  padding: 20px;
  gap: 10px;

}



.filter-container select{

  font-family: "Rubik Mono One";
}

.filter-box{

  padding: 15px;
  border-radius: 10px;
  color: grey;
  font-weight: bold;
  
}


@media (max-width: 768px) {
  .filter-box, .filter-container-two {
      width: 100%; 
  }
}

@media (max-width: 500px) {
  .filter-box, .filter-container-two{
      width: 100%; 
  }
}


