@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.filter-container{
  display: flex;
  align-items: center;
  background-color: rgb(106, 212, 212);
  padding: 20px;
  gap: 10px;
}


.filter-box{

  padding: 15px;
  border-radius: 10px;
  color: rgb(72, 70, 70);
  font-weight: bold;
  background-color: rgb(233, 238, 236);
}


@media (max-width: 768px) {
  .filter-box, .filter-container-two {
      width: 100%; 
  }
}

@media (max-width: 500px) {
  .filter-box, .filter-container-two{
      width: 100%; 
  }
}


.sort-by-container{
    display: flex;
    align-items: center;
    background-color: rgb(64, 185, 161);
    padding: 20px;
    gap: 10px;
    box-shadow: 0 10px 12px rgba(24, 13, 13, 0.368),0 0 5px 5px  rgba(36, 17, 17, 0) ; 
}


.sort-by-box{

    padding: 15px;
    display: flex;
    border-radius: 10px;
    color: rgb(71, 69, 69);
    font-weight: bold;
    background-color: rgb(233, 238, 236);
}

@media (max-width: 768px) {
    .sort-by-box {
        width: 100%; 
    }
  }
  
  @media (max-width: 500px) {
    .sort-by-box{
        width: 100%; 
    }
  }
  


