.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container h1{
font-size: 3em; 
}

.header-container button{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: none;
}

.header-container a{
    text-decoration: none;
     color: inherit;
     transition: all 0.3s ease; 
}

.header-container button:hover{
transform: translateY(-2px); 
box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
}


