

.header-container{
    display: flex;
    justify-content: center;
    background-color: rgb(157, 190, 185);
}

.header-container a{
    text-decoration: none;
     color: inherit;
}

#logo{
    width: 150px;
}

