.hero-section {
  background-image: url('../../images/homeImage2.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    position: relative;
    align-items: center;
    text-align: center;
  }
  

  .hero-section h1 {
    width: fit-content;
  
  }

  .V{
  
    font-size: 130%;
  }

  .W{
    font-size: 60%;
  }



  .exhibition-intro-info {

    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

  }

  
  .background-image-info {
  
    font-size: 1rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 12px rgba(33, 17, 17, 0.368), 0 0 5px 5px rgba(39, 24, 24, 0.368);
    width: 100%;
    text-align: start;

  }

  .masked-text {
    font-size: 8rem;
    color: transparent;
    background-image: url('../../images/homeImage2.jpeg'); 
    background-size: 101%; 
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 4s infinite alternate linear;
}

.masked-text{
  display: flex;
  flex-direction: column;
}



.masking-container{
      background-color: rgba(56, 97, 91, 0.354);
      height: 100vh;

}

.masking-container img{

  cursor: pointer; 
  transition: all 0.1s ease; 
  cursor: pointer;
  width: 100px

}

.masking-container img:hover{
  transform: translateY(-5px); 
}


@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 600px) {
  .masked-text {
    font-size: 4.5rem;
  }

  .V {
    font-size: 3rem;
  }

  .W {
    font-size: 5rem;
    margin: 1rem;
  }

  .masking-container img {
    width: 40px;
  }
}


@media (max-width: 1024px) {

  .V {
      font-size: 60%;
  }

  .W{
    font-size: 30%;
    margin: 100px;
  }
  .masking-container img{
    width: 60px;
  }

}



  
  