.home-container img{
    width: 100%;
}

.home-container{
    height: auto;
    width: 100%;
   
}

.info{
    display: flex;
    gap: 5px;
    color: grey;
    padding-left: 30px;
    background-color: rgb(147, 211, 202);
}