@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.nav-bar-container{
   background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
}


  
  nav button {
  
    color: #333;
    padding: 10px 20px; 
    font-family: "Cedarville Cursive";
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    margin: 5px;
    outline: none; 
    transition: all 0.3s ease; 
    background-color: rgb(131, 131, 109);
    font-family: "Rubik Mono One";
    cursor: pointer;
    display: flex;
  }

  nav a{
    text-decoration: none;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .buttons {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background-color: #03490a;
      text-align: center;
    }
  
    .buttons.open {
      display: flex;
    }
  
    .buttons ul {
      flex-direction: column;
      padding: 0;
    }
  
    .buttons li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: block;
    }
  }

  li button:hover{
    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(46, 23, 23, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
  }

  nav ul{
    list-style-type: none;
    
  }
  

  @media (max-width: 768px) {
    nav-button {
      padding: 8px 15px; 
      font-size: 1.2em; 
      flex-basis: 150px; 
      
    }
  }
  
  @media (max-width: 480px) {
    nav-button {
      padding: 6px 10px; 
      font-size: 1em; 
      flex-basis: 120px; 
    }
  }

  @media (max-width: 576px) {
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    nav ul {
        display: block;
        
    }

    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }
    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }
}
  

