
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.pagination-container button:hover{

    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 

}

.pagination-container button{
    margin: 30px;

    
}

.page-count{
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
}

.pag-button{

    color: #333;
    padding: 10px 20px; 
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    background-color: #f0f0f0; 
}

