@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-container button:hover{

    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 

}

.pagination-container button{
    margin: 30px;
    
}

.page-count{
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: "Rubik Mono One";
}

.pag-button{

    color: #333;
    padding: 10px 20px; 
    font-family: "Cedarville Cursive";
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    background-color: #f0f0f0; 
    font-family: "Rubik Mono One";
}

