@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');

.saved-collection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.saved-artwork-card button{
    background-color: blanchedalmond;
    padding: 30px;
    width: auto;
    height: auto;
    position: relative;
    transition: all 0.3s ease; 
    margin: 10px;
}

.saved-artwork-card ul{
  list-style-type: none;
}

.saved-artwork-card button:hover{
  transform: translateY(-2px); 
 background-color: #088b04;
  box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
}

.saved-artwork-card a{
    text-decoration: none;
    color: inherit;
  }

  .saved-collection-buttons{
    background-color: #fff;
    color: #333;
    padding: 10px 20px; 
    font-family: "Cedarville Cursive";
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    background-color: #f0f0f0; 
    margin-bottom: 30px;
    font-family: "Rubik Mono One";
  }

  .back-to-button button:hover{
    transform: translateY(-2px); 
    background-color: yellow;
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
  }

 .artwork-card img:hover{
    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
  }

  .artwork-card button{
    margin-bottom: 30px;
  }

  .artwork-card button:hover{
    background-color: rgb(198, 56, 56);
  }

  .saved-collection-container button{
    color: #333;
    padding: 10px 20px; 
    margin-top: 20px;
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    font-family: "Rubik Mono One";
    position: relative;

  }

  .saved-collection-container button:hover{
    transform: translateY(-2px); 
  background-color: #088b04;
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
  }

