.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 195);
    padding: 30px;
}

.search-bar-container button{
    width: 100px;
}

.search-bar-container button:hover{

    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(216, 207, 207, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
    }
      
