@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.search-bar-container{
    display: flex;
    gap: 5px;
    color: #333;
    align-items: center;
}

.search-bar-container button{
    background-color: rgb(255, 255, 255);
    color: #333;
    padding: 12px 20px; 
    font-weight: 900;
    font-size: 1em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    background-color: #f0f0f0; 
    font-family: "Rubik Mono One";
    max-width: 100%;

}

.search-bar-container input{
width: 200px;
    height: 3em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);

}

.search-bar-container button:hover{
    transform: translateY(-2px); 
    
    background-color: green;
    }


#enterString{
    font-family: "Rubik Mono One";
}
  
      
