@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Autour+One&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Rubik+Mono+One&display=swap');


.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: rgb(136, 194, 178);
    gap: 10px;
    box-shadow: 0 10px 12px rgba(19, 11, 11, 0.368),0 0 5px 5px  rgba(24, 12, 12, 0.368) ; 
    flex-wrap: wrap; 
    color: #333;
}



.search-bar-container button{
    background-color: rgb(233, 238, 236);
    color: #333;
    padding: 10px 20px; 
    font-family: "Cedarville Cursive";
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer; 
    border: none; 
    outline: none; 
    transition: all 0.3s ease; 
    background-color: #f0f0f0; 
    border-radius: 10px;
    font-family: "Rubik Mono One";
    max-width: 100%;
}

#input-box{
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(233, 238, 236);
}

.search-bar-container button:hover{
    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(54, 34, 34, 0.368),0 0 5px 5px  rgba(216, 207, 207, 0.368) ; 
    background-color: green;
    }
      
